.App {
  text-align: center;
}

.Navigation {
  padding: 10px;
}

.AllNav {
  padding: 10px;
}
.CodingNav {
  padding: 10px;
}
.FootballNav {
  padding: 10px;
}
.CookingNav {
  padding: 10px;
}

.ArticleList {
  display: grid;
  padding: 10px;
  text-align: left;
}
